<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Order</h1>

<f:flashMessages />

<f:if condition="{orderItems}">
	<f:then>
		<table  class="tx_wtcartorder" >
			<tr>
				<th><f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderitem.order_number" /></th>
				<th><f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderitem.invoice_number" /></th>
				<th><f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderitem.gross" /></th>
				<th><f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderitem.net" /></th>
				<th><f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderpayment.status" /></th>
				<th><f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_ordershipping.status" /></th>
				<th>
					Aktion
				</th>
			</tr>

			<f:for each="{orderItems}" as="orderItem">
				<tr>
					<td><f:link.action action="show" arguments="{orderItem : orderItem}"> {orderItem.orderNumber} </f:link.action></td>
					<td><f:link.action action="show" arguments="{orderItem : orderItem}"> {orderItem.invoiceNumber} </f:link.action></td>
					<td>{orderItem.gross}</td>
					<td>{orderItem.net}</td>
					<td>{orderItem.orderPayment.name} <f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderpayment.status.{orderItem.orderPayment.status}" /></td>
					<td>{orderItem.orderShipping.name} <f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_ordershipping.status.{orderItem.orderShipping.status}" /></td>
					<td>
						<f:link.action action="show" arguments="{orderItem : orderItem}"> show </f:link.action>
						<f:if condition="{0: orderItem.invoiceNumber} == {0: ''}">
							<f:link.action action="makeInvoice" arguments="{orderItem : orderItem}"> make Invoice </f:link.action>
						</f:if>
					</td>
				</tr>
			</f:for>
		</table>
	</f:then>
	<f:else>
		Select a Page where Order Item Dataset are saved.
	</f:else>
</f:if>
</f:section>