<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<f:be.container addCssFile="{f:uri.resource(path:'Stylesheets/Backend/style.css')}" />

	<h1><f:translate key="tx_wtcartorder.controller.orderitem.action.list" /></h1>

	<f:flashMessages />

	<div class="download-links">
		<f:link.action action="export" arguments="{format: 'csv', filter: piVars.filter}" class="download-button">
			<f:translate key="tx_wtcartorder.controller.orderitem.action.export.csv" />
		</f:link.action>
	</div>
	<div class="clear"></div>

	<f:render partial="OrderItem/Filter" arguments="{piVars: piVars, action: 'list'}" />

	<div class="clear"></div>

	<f:if condition="{orderItems}">
		<f:then>
			<f:widget.paginate objects="{orderItems}" as="paginatedOrderItems" configuration="{itemsPerPage: 25}">
				<table class="tx_wtcartorder typo3-dblist" >
					<tr class="t3-row-header">
						<th><f:translate key="tx_wtcartorder_domain_model_orderitem.order_number" /></th>
						<th><f:translate key="tx_wtcartorder_domain_model_orderitem.order_date" /></th>
						<th><f:translate key="tx_wtcartorder_domain_model_orderitem.invoice_number" /></th>
						<th><f:translate key="tx_wtcartorder_domain_model_orderitem.invoice_date" /></th>
						<th><f:translate key="tx_wtcartorder_domain_model_orderitem.total_gross" /></th>
						<th><f:translate key="tx_wtcartorder_domain_model_orderitem.total_net" /></th>
						<th><f:translate key="tx_wtcartorder_domain_model_orderpayment.status" /></th>
						<th><f:translate key="tx_wtcartorder_domain_model_ordershipping.status" /></th>
						<th><f:translate key="tx_wtcartorder_domain_model_orderitem.crdate" /></th>
						<th>
							<f:translate key="tx_wtcartorder.controller.orderitem.actions" />
						</th>
					</tr>

					<f:for each="{paginatedOrderItems}" as="orderItem">
						<tr class="db_list_normal">
							<td>
								{orderItem.orderNumber}
							</td>
							<td>
								<f:if condition="{orderItem.orderDate}">
									<f:format.date format="d.m.Y" date="{orderItem.orderDate}" />
								</f:if>
							</td>
							<td>
								{orderItem.invoiceNumber}
							</td>
							<td>
								<f:if condition="{orderItem.invoiceDate}">
									<f:format.date format="d.m.Y" date="{orderItem.invoiceDate}" />
								</f:if>
							</td>
							<td style="width: 75px; text-align: right;">
								<f:format.currency currencySign="{settings.format.currency.currencySign}"
												   decimalSeparator="{settings.format.currency.decimalSeparator}"
												   thousandsSeparator="{settings.format.currency.thousandsSeparator}">
									{orderItem.totalGross}
								</f:format.currency>
							</td>
							<td style="width: 75px; text-align: right;">
								<f:format.currency currencySign="{settings.format.currency.currencySign}"
												   decimalSeparator="{settings.format.currency.decimalSeparator}"
												   thousandsSeparator="{settings.format.currency.thousandsSeparator}">
									{orderItem.totalNet}
								</f:format.currency>
							</td>
							<td class="order-payment-status-{orderItem.orderPayment.status}">
								{orderItem.orderPayment.name} /
								<f:translate key="tx_wtcartorder_domain_model_orderpayment.status.{orderItem.orderPayment.status}" />
							</td>
							<td class="order-shipping-status-{orderItem.orderShipping.status}">
								{orderItem.orderShipping.name} /
								<f:translate key="tx_wtcartorder_domain_model_ordershipping.status.{orderItem.orderShipping.status}" />
							</td>
							<td><f:format.date format="d.m.Y H:i">{orderItem.crDate}</f:format.date></td>
							<td>
								<f:render partial="OrderItem/ActionList" arguments="{orderItem: orderItem, pdfRendererInstalled: pdfRendererInstalled, hidelistaction: 1}" />
							</td>
						</tr>
					</f:for>
				</table>
			</f:widget.paginate>
		</f:then>
		<f:else>
			Select a Page where Order Item Dataset are saved.
		</f:else>
	</f:if>
</f:section>