<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<f:be.container addCssFile="{f:uri.resource(path:'Stylesheets/Backend/style.css')}" />

	<h1><f:translate key="tx_wtcartorder.controller.orderitem.action.show" /></h1>

	<f:flashMessages />

	<div style="padding-bottom: 20px;">
		<f:render partial="OrderItem/Properties" arguments="{orderItem: orderItem}" />
	</div>

	<div style="padding-bottom: 20px;">
		<f:render partial="OrderItem/ServiceStatus" arguments="{orderItem: orderItem}" />
	</div>

	<div style="padding-bottom: 20px;">
		<f:render partial="OrderItem/Cart" arguments="{orderItem: orderItem}" />
	</div>

	<f:render partial="OrderItem/ActionList" arguments="{orderItem: orderItem, pdfRendererInstalled: pdfRendererInstalled, hideshowaction: 1}" />

</f:section>