<table class="typo3-dblist">
	<tr class="t3-row-header">
		<td width="100px">
			<f:translate key="LLL:EXT:wt_cart/Resources/Private/Language/locallang.xml:plugin.cart.product.sku" />
		</td>
		<td width="300px">
			<f:translate key="LLL:EXT:wt_cart/Resources/Private/Language/locallang.xml:plugin.cart.product.title" />
		</td>
		<td width="100px">
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang.xml:tx_wtcartorder_domain_model_orderproduct.price" />
		</td>
		<td width="100px">
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang.xml:tx_wtcartorder_domain_model_orderproduct.discount" />
		</td>
		<td width="100px">
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang.xml:tx_wtcartorder_domain_model_orderproduct.count" />
		</td>
		<td width="100px">
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang.xml:tx_wtcartorder_domain_model_orderproduct.net" />
		</td>
		<td width="100px">
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang.xml:tx_wtcartorder_domain_model_orderproduct.gross" />
		</td>
		<f:for each="{orderItem.orderTotalTax}" as="orderTotalTax">
			<td width="100px">
				<f:translate key="LLL:EXT:wt_cart/Resources/Private/Language/locallang.xml:plugin.cart.product.tax" arguments="{0: orderTotalTax.orderTaxClass.name}"/>
			</td>
		</f:for>
	</tr>
	<f:for each="{orderItem.orderProduct}" as="orderProduct">
		<f:cycle values="{0: 'odd', 1: 'even'}" as="zebraClass">
			<f:render partial="OrderItem/OrderProduct" arguments="{orderProduct: orderProduct, zebraClass: zebraClass}" />
		</f:cycle>
	</f:for>

	<f:render partial="OrderItem/Summary" arguments="{orderItem: orderItem}" />
</table>