<label for="orderNumber">
	<f:translate key="tx_wtcartorder_domain_model_order.order_number" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="orderNumber" /><br />
<label for="gross">
	<f:translate key="tx_wtcartorder_domain_model_order.gross" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="gross" /><br />
<label for="net">
	<f:translate key="tx_wtcartorder_domain_model_order.net" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="net" /><br />
<label for="paymentName">
	<f:translate key="tx_wtcartorder_domain_model_order.payment_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="paymentName" /><br />
<label for="paymentId">
	<f:translate key="tx_wtcartorder_domain_model_order.payment_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="paymentId" /><br />
<label for="paymentStatus">
	<f:translate key="tx_wtcartorder_domain_model_order.payment_status" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="paymentStatus" /><br />
<label for="shippingStatus">
	<f:translate key="tx_wtcartorder_domain_model_order.shipping_status" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="shippingStatus" /><br />
<label for="orderPdf">
	<f:translate key="tx_wtcartorder_domain_model_order.order_pdf" />
</label><br />
	<f:form.upload property="orderPdf" /><br />