<table class="tx-wt-cart-order" width="100%">
	<tr>
		<td class="label" width="30%">
			<f:translate key="tx_wtcartorder_domain_model_orderitem.order_number" />:
		</td>
		<td width="20%">
			{orderItem.orderNumber}
		</td>
		<td class="label" width="30%">
			<f:translate key="tx_wtcartorder_domain_model_orderitem.order_date" />:
		</td>
		<td width="20%">
			<f:if condition="{orderItem.orderDate}">
				<f:format.date format="d.m.Y" date="{orderItem.orderDate}" />
			</f:if>
		</td>
	</tr>
	<tr>
		<td class="label">
			<f:translate key="tx_wtcartorder_domain_model_orderitem.invoice_number" />:
		</td>
		<td>
			{orderItem.invoiceNumber}
		</td>
		<td class="label">
			<f:translate key="tx_wtcartorder_domain_model_orderitem.invoice_date" />:
		</td>
		<td>
			<f:if condition="{orderItem.invoiceDate}">
				<f:format.date format="d.m.Y" date="{orderItem.invoiceDate}" />
			</f:if>
		</td>
	</tr>
	<tr>
		<td class="label">
			<f:translate key="tx_wtcartorder_domain_model_orderitem.order_shipping" />:
		</td>
		<td>
			{orderItem.orderPayment.name}
		</td>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_orderpayment.status.{orderItem.orderPayment.status}" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td class="label">
			<f:translate key="tx_wtcartorder_domain_model_orderitem.order_payment" />:
		</td>
		<td>
			{orderItem.orderShipping.name}
		</td>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_orderpayment.status.{orderItem.orderShipping.status}" />
		</td>
		<td>
		</td>
	</tr>
</table>
<br>

<div>
	<div class="block-left">
		<span class="label">
			<f:translate key="tx_wtcartorder_domain_model_orderitem.shipping_address" />:
		</span>
		<f:if condition="{orderItem.shippingAddress}">
			<f:if condition="{0: settings.shippingAddress.format} == {0: 'text'}">
				<f:format.nl2br>
					{orderItem.shippingAddress}
				</f:format.nl2br>
			</f:if>
			<f:if condition="{0: settings.shippingAddress.format} == {0: 'html'}">
				<br>
				<f:format.raw>
					{orderItem.shippingAddress}
				</f:format.raw>
			</f:if>
			<f:if condition="{0: settings.shippingAddress.format} == {0: 'json'}">
				<f:format.raw>
					{orderItem.shippingAddress}
				</f:format.raw>
			</f:if>
		</f:if>
	</div>

	<div class="block-right">
		<span class="label">
			<f:translate key="tx_wtcartorder_domain_model_orderitem.billing_address" />:
		</span>
		<f:if condition="{orderItem.billingAddress}">
			<f:if condition="{0: settings.billingAddress.format} == {0: 'text'}">
				<f:format.nl2br>
					{orderItem.billingAddress}
				</f:format.nl2br>
			</f:if>
			<f:if condition="{0: settings.billingAddress.format} == {0: 'html'}">
				<br>
				<f:format.raw>
					{orderItem.billingAddress}
				</f:format.raw>
			</f:if>
			<f:if condition="{0: settings.billingAddress.format} == {0: 'json'}">
				<f:format.raw>
					{orderItem.billingAddress}
				</f:format.raw>
			</f:if>
		</f:if>
	</div>

	<div class="clear"><!-- --></div>
</div>