<table class="tx-wt-cart-order" >
	<tr>
		<td>
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderitem.order_number" />
		</td>
		<td>
			{orderItem.orderNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderitem.invoice_number" />
		</td>
		<td>
			{orderItem.invoiceNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderitem.gross" />
		</td>
		<td>
			{orderItem.gross}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderitem.net" />
		</td>
		<td>
			{orderItem.net}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderpayment.name" />
		</td>
		<td>
			{orderItem.orderPayment.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_orderpayment.status" />
		</td>
		<td>
			{orderItem.orderPayment.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_ordershipping.name" />
		</td>
		<td>
			{orderItem.orderShipping.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="LLL:EXT:wt_cart_order/Resources/Private/Language/locallang_db.xml:tx_wtcartorder_domain_model_ordershipping.status" />
		</td>
		<td>
			{orderItem.orderShipping.status}
		</td>
	</tr>
</table>