<table class="tx-wt-cart-order" >
	<tr>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_order.order_number" />
		</td>
		<td>
			{order.orderNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_order.gross" />
		</td>
		<td>
			{order.gross}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_order.net" />
		</td>
		<td>
			{order.net}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_order.payment_name" />
		</td>
		<td>
			{order.paymentName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_order.payment_id" />
		</td>
		<td>
			{order.paymentId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_order.payment_status" />
		</td>
		<td>
			{order.paymentStatus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_order.shipping_status" />
		</td>
		<td>
			{order.shippingStatus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_wtcartorder_domain_model_order.order_pdf" />
		</td>
		<td>
			{order.orderPdf}
		</td>
	</tr>
</table>